<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="NServiceBus/Persistence"
       connectionString="Data Source=.\AHC.SOA.Appointments.Bus.Tests.System.sqlite;Version=3;New=True;" />

  <add name="NServiceBus/Persistence/NHibernate/Timeout"
       connectionString="Data Source=.\AHC.SOA.Appointments.Bus.Tests.System.sqlite.timeout;Version=3;New=True;" />

  <add name="NServiceBus/Persistence/NHibernate/Saga"
       connectionString="Data Source=.\AHC.SOA.Appointments.Bus.Tests.System.sqlite.saga;Version=3;New=True;" />

  <add name="NServiceBus/Persistence/NHibernate/Subscription"
       connectionString="Data Source=.\AHC.SOA.Appointments.Bus.Tests.System.sqlite.subscription;Version=3;New=True;" />

  <add name="NServiceBus/Persistence/NHibernate/Gateway"
       connectionString="Data Source=.\AHC.SOA.Appointments.Bus.Tests.System.sqlite.gateway;Version=3;New=True;" />

  <add name="NServiceBus/Persistence/NHibernate/Distributor"
       connectionString="Data Source=.\AHC.SOA.Appointments.Bus.Tests.System.sqlite.distributor;Version=3;New=True;" />
</connectionStrings>